html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-footer {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid gray;
}

div#root {
  flex: auto;
  display: flex;
  flex-flow: column;
  width: 100%;
}

div#root div.main-container {
  flex: auto;
  width: 100%;
  overflow-x: hidden;
}

.modal-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,0.5);
 }

.modal-inner {
  background-color: white;
  margin-top: 10%;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Hamburger svg must be loaded separately
for bootstrap so that content security
policy doesn't have to be relaxed. More info here:
https://github.com/twbs/bootstrap/issues/25394 */
.navbar-dark .navbar-toggler-icon {
  background-image: url("./images/hamburger.svg");
}